body {
  margin: 0;
  font-family: 'Imprima' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Imprima' !important;
}

div.cardCandidat {
  cursor: pointer;
}
